<script type="text/javascript">


jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox()
})

</script>
<table class="table table-hover">
  <tr>
  	<th></th>
    <th>用户名</th>
    <th>公司</th>
    <th>部门</th>
    <th>职位</th>
    <th>邮箱</th>
    <th></th>
    
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
    	  <td><%= image_tag user.avatar.url(:thumb) %></td>
      <td><%= user.name %></td>
      <td><%= user.company %></td>
      <td><%= user.dept %></td>
      <td><%= user.position %></td>
      <td><%= user.email %></td>
      <td><%= link_to '求推荐', {controller:"refer_requests", action:"send_request", id:user.id}, :rel => "facebox" %></td>
      <td><%= link_to '删除联系人', controller:"connect_requests", action:"disconnect", id:user.id, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>