<script type="text/javascript">


jQuery(document).ready(function($) {
  $.facebox.settings.closeImage = 'app/assets/images/closelabel.png'
  $.facebox.settings.loadingImage = '/Users/jyang/Projects/seekRefer/app/assets/images/loading.gif'
  
  $('a[rel*=facebox]').facebox({
  	closeImage : '/Users/jyang/Projects/seekRefer/app/assets/images/closelabel.png',
  	loadingImage : '/Users/jyang/Projects/seekRefer/app/assets/images/loading.gif'
  })
})

</script>
<table class="table table-hover">
  <tr>
    <th>用户名</th>
    <th>公司</th>
    <th>部门</th>
    <th>职位</th>
    <th>邮箱</th>
    
    
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.company %></td>
      <td><%= user.dept %></td>
      <td><%= user.position %></td>
      <td><%= user.email %></td>
      <td><%= link_to '求推荐', "#", {:rel => "facebox"} %></td>
      <td><%= link_to 'Disconnect', controller:"connect_requests", action:"disconnect", id:user.id, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>