<h1>注册</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
     <%= devise_error_messages! %>

      <%= f.label :name, "用户名"%>
      <%= f.text_field :name, :autofocus => true %>

      <%= f.label :email, "邮箱"%>
      <%= f.text_field :email %>

  	  <%= f.label :password,  "密码"%>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation ,  "确认密码"%>
      <%= f.password_field :password_confirmation %>
      
      <%= f.label :avatar ,  "上传头像"%>
 	  <%= f.file_field :avatar %>
 	  
  	  <%= f.label :location_id ,"地区"%>
 	  <%= f.select(:location_id, Location.all.map {|h| [h.name, h.id]},{:prompt => "选择地区"},{:class => 'selectpicker'}) %>
      
 	  <%= f.label :company_id , "公司"%>
      <%= f.autocomplete_field :company_name, autocomplete_company_name_path, :id_element=>"#user_company_id", :update_elements => {:name => "#user_company"} %>
      <%= f.hidden_field :company_id %>
      
      <%= f.label :dept, "部门" %>
      <%= f.text_field :dept %>
      
      <%= f.label :position, "职位" %>
      <%= f.text_field :position %>
      
      <%= f.label :hometown_id, "家乡" %>
      <%= f.select(:hometown_id, ChinaCity.all.map {|h| [h.province, h.id]},{:prompt => "选择家乡"},{:class => 'selectpicker'}) %>

      <%= f.label :china_school1_id, "国内毕业院校"%>
      <%= f.select(:china_school1_id, ChinaCollege.all.map {|h| [h.name, h.id]},{:prompt => "选择院校"},{:class => 'selectpicker'}) %>
      
      <%= f.label :us_school1_id, "海外毕业院校" %>
      <%= f.select(:us_school1_id, UsCollege.all.map {|h| [h.name, h.id]},{:prompt => "选择院校"},{:class => 'selectpicker'}) %> <br /><br />   

      <%= f.submit "创建", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
