<%= link_to '添加用户', new_user_path, class: "btn btn-primary" %><br /><br />

<table class="table table-hover">
  <tr>
    <th>用户名</th>
    <th>公司</th>
    <th>部门</th>
    <th>职位</th>
    <th>邮箱</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
    	  <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.company.name %></td>
      <td><%= user.dept %></td>
      <td><%= user.position %></td>
      <td><%= user.email %></td>
      <td><%= link_to '修改', edit_user_path(user)%></td>
 	  <td><%= link_to '删除', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>