<div class="row">
  <div class="span6 offset3">
<%= form_for :user, url:users_create_path do |f| %>
     <%= render 'shared/error_messages' %>

      <%= f.label :name, "用户名"%>
      <%= f.text_field :name, :autofocus => true %>

      <%= f.label :email , "邮箱"%>
      <%= f.text_field :email %>

  	  <%= f.label :password , "密码"%>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "确认密码" %>
      <%= f.password_field :password_confirmation %>
      
 	  <%= f.label :company_id , "公司"%>
      <%= f.autocomplete_field :company_name, autocomplete_company_name_path, :id_element=>"#user_company_id", :update_elements => {:name => "#user_company"} %>
      <%= f.hidden_field :company_id %>
      
      <%= f.label :dept, "部门" %>
      <%= f.text_field :dept %>
      
      <%= f.label :position , "职位"%>
      <%= f.text_field :position %>

      <%= f.submit "创建", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>