<p>
	<%= image_tag @user.avatar.url(:small) %>
</p>

<p>
  <strong>用户名</strong>
  <%= @user.name %>
</p>

<p>
  <strong>地区</strong>
  <%= @user.location.name %>
</p>
 
<p>
  <strong>公司</strong>
  <%= @user.company.name %>
</p>

<p>
  <strong>部门</strong>
  <%= @user.dept %>
</p>

<p>
  <strong>职位</strong>
  <%= @user.position %>
</p>

<p>
  <strong>邮箱</strong>
  <%= @user.email %>
</p>

<p>
  <strong>家乡</strong>
  <%= @user.hometown.province %>
</p>

<p>
  <strong>国内毕业院校</strong>
  <%= @user.china_school1.name %>
</p>

<p>
  <strong>海外毕业院校</strong>
  <%= @user.us_school1.name %>
</p>

<%= link_to '更新', edit_user_registration_path %>