<div id="refer_request_popup" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
		<h3></h3>
	</div>
	<div class="modal-body">
		<div class="container">
			<div class="span8 offset2">
				<%= simple_form_for :refer_request, url:refer_requests_recv_request_path  do |f| %>

				<%= hidden_field_tag :id, user.id %>

				<%= f.label :intro, "介绍自己"%>
				<%= f.text_area :intro, :autofocus => true, :rows => "6" %>

				<div>
					<%= f.label :resume, "上传简历"%>
					<%= f.file_field :resume %>
				</div>
				<%= f.submit "发送请求", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="modal-footer">

	</div>
</div>

<script>
	   $('#refer_request_popup').modal().css(
            {
                'margin-top': function () {
                    return window.pageYOffset-($(this).height() / 2 );
                }
            });

                   
</script>
