<table width="100%">
	<tr>
		<td width="30%"><%= image_tag @applicant.avatar.url(:small) %></td>
		<td>


  
  <%= @applicant.name %><br />
  
  
  <%= @applicant.hometown.province %><br />

  
  <%= @applicant.china_school1.name %><br />

  
  <%= @applicant.us_school1.name %><br />
  
  		</td>
  	<tr>
</table>

<iframe src="<%= '/users/' + @applicant.name + '/resume.pdf' %>" width="600" height="675"></iframe>
<br />
<br />
<br />
<%= link_to "愿意推荐", {controller: "refer_cases", action: "create", :token => @token}, :disable_with => "请等待", class: "btn btn-primary"%>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="#refer_refuse_popup" role="button" class="btn btn-primary" data-toggle="modal">拒绝推荐</a>
<%= render 'shared/refer_refuse_popup', :token => @token %>
