<% if current_user.try(:admin?) %>
<%= link_to '添加公司', new_company_path, class: "btn btn-primary" %>
<% end %>
<br />
<br />

<table class="table table-hover">
  <tr>
  	<th></th>
    <th>公司</th>
    <th>关于</th>
    <th>网址</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @companies.each do |company| %>
    <tr>
      <td><%= image_tag company.logo.url(:thumb) %></td>
      <td><%= link_to company.name, company_path(company) %></td>
      <td><%= company.description %></td>
      <td><%= company.website %></td>
      <% if current_user.try(:admin?) %>
      <td><%= link_to '编辑', edit_company_path(company) %></td>
 	  <td><%= link_to '删除', company_path(company), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>
