<% if current_user.try(:admin?) %>
<%= link_to '添加公司', new_company_path, class: "btn btn-primary" %>
<% end %>
<br />
<br />

<table class="table table-hover">
 
  <% @companies.each do |company| %>
  <tr><td>
	<div class="row">
      		<div class="span2"><%= image_tag company.logo.url(:medium) %></div>
      	
      		<div class="span8"><strong><%= link_to company.name, company_path(company) %></strong></br>
      				<%= company.industry.name %></br>
      				<%= company.employee_count_range %>
      		</div>
      
    </div>
    <div class="row">
    	<div class="span2">Tags</div>
    	<div class="span8"><%= company.tags %></div>
    </div>
    <div class="row">
      		<div class="span2">关于</div>
      <div class="span8">
      	<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#company<%= company.id %>">
			关于....
		</button>
		<div id="company<%= company.id %>" class="collapse"><%= company.description %></div>
      </div>
      
     </div>
   
    </td></tr>

  <% end %>
</table>
