<div class="row">
  <div class="span6 offset3">
<%= form_for :company, url: companies_path do |f| %>
  
    <%= f.label :name , "公司"%>
    <%= f.text_field :name %>
  
 
  
    <%= f.label :description , "关于"%>
    <%= f.text_area :description %>
  

  
    <%= f.label :website , "网址"%>
    <%= f.text_field :website %>
    
    <%= f.label :logo ,  "上传Logo"%>
    <%= f.file_field :logo %>
  
   
  <p>
    <%= f.submit "添加", class: "btn btn-large btn-primary"%>
  </p>
<% end %>

<%= link_to '公司列表', companies_path %>

</div>
</div>
