<table class="table table-hover">
  <tr><td>
  	<div class="container">
	 <div class="row-fluid">
      		<div class="span2"><%= image_tag @company.logo.url %></div>
      		<div class="span10"><strong><%= @company.name %></strong></br>
      				<%= @company.industry.name_cn %></br>
      				<%= @company.founded_year %>年成立&nbsp;&nbsp;<%= @company.employee_count_range %>员工</br>
      				<%= link_to @company.website, @company.website,:target => '_blank' %>
      		</div>  
    	</div>
    </div>
    
    <div class="container">
    	<div class="row">
    		<div class="span2"></div>
    		<% tags = @company.tags.gsub('"', '').gsub('[', '').gsub(']', '') if not @company.tags.nil? %>
    		
    		
    		<div class="span10"><p class="tags"><span><%= tags %></span></p></div>
    	</div>
    </div>
    
    <div class="container">
    	<div class="row">
    	<div class="span2"></div>
    	<div class="span10">
		 <p><%= @company.description %></p>
      </div>
      </div>
     </div>
     
   
    </td></tr>
</table>


<br />
<br />
<br />
<br />

<table class="table table-hover">
 
  <% @users.each do |user| %>
  <tr><td>
  	<div class="container">
	 <div class="row-fluid">
      		<div class="span2"><%= image_tag user.avatar.url(:small) %></div>
      		<div class="span8"><strong><%= link_to user.name, user_path(user) %></strong></br>
      				部门:<%= user.dept %>&nbsp;&nbsp;职位:<%= user.position %></br>
      				<%= user.hometown.province %></br>
      				<%= user.china_school1.name %></br>
      				<%= user.us_school1.name %>
      		</div>  
      		<div class="span2"><%= link_to "加为联系人", controller:"connect_requests", action:"send_request", id:user.id %></div>
    	</div>
    </div>
   
    </td></tr>

  <% end %>
</table>

