<div id="refer_feedback_popup<%=refer_case.id%>" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			&times;
		</button>
		<h3></h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="span8 offset2">
				<%= form_for refer_case, :url => {:action => 'destroy'} do |f| %>

				<%= f.label :result , "结果"%>
				<%= f.select :result, ["被拒", "拒绝offer", "接受offer" ],{},{:class => 'selectpicker'} %>

				<%= f.label :feedback , "评价推荐人"%>
				<%= f.select :feedback, ["3分:积极推荐并提供面试帮助", "2分:积极推荐", "1分:一般" ],{},{:class => 'selectpicker'} %>

				<%= label_tag :comment, "想对推荐人说:"%>
				<%= text_area_tag :comment %>

				<%= hidden_field_tag :id, refer_case.id %>

				<%= submit_tag "关闭Case", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">

</div>
</div>

<script>
	$('.modal').css({
		'margin-top' : function() {
			return window.pageYOffset - ($(this).height() / 2 );
		},

		'margin-left' : function() {
			return window.pageXOffset - ($(this).width() / 2 );
		},
	});

</script>
