<p>
  <strong>申请状态: </strong>
  <%= @case.status %>
</p>

<%= form_for @case, :url => {:action => 'update', :referrer => @referrer} do |f| %>
  <% if @referrer == true %>
  <%= f.select :status, ["准备递交简历", "简历已递交"],{},{:class => 'selectpicker'} %>
  <% else %>
  <%= f.select :status, ["HR已联系", "面试中", "面试完", "被拒","拿到offer不去","接受offer" ],{},{:class => 'selectpicker'} %>
  <% end %>
  <%= hidden_field_tag :id, @case.id %>
  <%= submit_tag "更新状态", class: "btn btn-primary", :disable_with => "Please wait..."  %>
<% end %>


<p>
  <strong>推荐人</strong>
  <%= @case.referrer.name %>
</p>

<p>
  <strong>求职者</strong>
  <%= @case.referral.name %>
</p>


