<table class="table table-hover">

	<% @cases.each do |refer_case| %>
	<tr>
		<td>
		<div class="container">
			<div class="row-fluid">
				<div class="span2">
					<%= image_tag refer_case.referral.avatar.url(:small) %>
					<%= link_to refer_case.referral.name, user_path(refer_case.referral) %>
				</div>
				<div class="span8">

					<div class="progress progress-striped">
						<div class="bar" style="width: <%= refer_case.status_id*20 %>%;"></div>
					</div></br>
					<%= refer_case.status %>
				</div>

				<div class="span2">
					<%= form_for refer_case, :url => {:action => 'update'} do |f| %>

					<%= f.select :status, ["准备递交简历", "简历已递交"],{} %>

					<%= hidden_field_tag :id, refer_case.id %>
					<%= submit_tag "更新状态", class: "btn btn-primary", :disable_with => "请等待"  %>
					<% end %>

					<%= link_to "关闭Case", "#" %>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span8 offset2">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#refer_comment<%= refer_case.id %>"> 留言</a>
					<div id="refer_comment<%= refer_case.id %>" class="collapse">
						<table class="table table-hover">
							<% posts = refer_case.refer_posts %>
							<% posts.each do |post| %>
							<tr>
								<td><%= image_tag post.user.avatar.url(:thumb) %></td>
								<td><%= post.content %></td>
							</tr>
							<% end %>
							</table>
								<%= form_for :refer_post, url:{controller: "refer_posts", action: "create"} do |f| %>

								<%= hidden_field_tag :refer_case_id, refer_case.id %>
								<%= f.text_area :content %>

								<%= f.submit "留言", class: "btn btn-large btn-primary" %>
								<% end %>
						
						
					</div>
				</div>
			</div>
		</div></td>
	</tr>

	<% end %>
</table>