<ul class="nav nav-tabs">
	<li>
		<%= link_to "当前Cases", refer_cases_show_referral_path %>
	</li>
	<li class="active">
		<%= link_to "历史Cases", refer_cases_show_referral_old_path %>
	</li>
</ul>

<table class="table table-hover">

	<% @cases.each do |refer_case| %>
	<tr>
		<td>
		<div class="container">
			<div class="row-fluid">
				<div class="span2">
					<%= image_tag refer_case.referrer.company.logo.url(:small) %></br>
					<%= link_to refer_case.referrer.company.name, company_path(refer_case.referrer.company) %></br></br>
					推荐人:<%= link_to refer_case.referrer.name, user_path(refer_case.referrer) %>
				</div>
				<div class="span8">
					<%= refer_case.result %>
				</div>

			
			</div>
			<div class="row-fluid">
				<div class="span8 offset2">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#refer_comment<%= refer_case.id %>"> 留言</a>
					<div id="refer_comment<%= refer_case.id %>" class="collapse">
						<table class="table table-hover">
							<% posts = refer_case.refer_posts %>
							<% posts.each do |post| %>
							<tr>
								<td><%= image_tag post.user.avatar.url(:thumb) %></td>
								<td><%= post.content %></td>
							</tr>
							<% end %>
							</table>
								<%= form_for :refer_post, url:{controller: "refer_posts", action: "create"} do |f| %>

								<%= hidden_field_tag :refer_case_id, refer_case.id %>
								<%= f.text_area :content %>

								<%= f.submit "留言", class: "btn btn-large btn-primary" %>
								<% end %>
						
						
					</div>
				</div>
			</div>
		</div></td>
	</tr>

	<% end %>
</table>