<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "海外华人求职网", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "主页", root_path %></li>
          <li><%= link_to "公司", companies_path %></li>
          <li><%= link_to "职位发布", job_posts_path %></li>
          <% if user_signed_in? %>
          	<li><%= link_to "联系人", connects_path %></li>
          	<li><%= link_to "我的Follow", follow_rules_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                推荐 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "我是推荐人", refer_cases_show_referrer_path %></li>
                <li><%= link_to "我是被推荐人", refer_cases_show_referral_path %></li>
              </ul>
            </li>
             
            <% if current_user.try(:admin?) %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                管理员 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "用户", users_path %></li>
                <li><%= link_to "公司", companies_path %></li>
                <li><%= link_to "从Linkedin添加公司", linkedin_new_path %></li>
              </ul>
            </li>
            <% end %>
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                个人 <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "个人信息", current_user %></li>
                <li><%= link_to "个人设置", edit_user_registration_path %></li>
                <li><%= link_to "上传简历", refer_request_upload_resume_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "退出", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
          	<li><%= link_to "注册", new_user_registration_path %></li>
            <li><%= link_to "登陆", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>